body {
  color: $color-font-base;
  background-color: $color-bg-2;
}

.new-gen {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
  }

  font-family: $font-regular;

  .container {
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
  }

  .mobile-hidden {
    @media ($media-sm) {
      display: none;
    }
  }
}

.new-gen-highlight {
  display: inline-block;
  padding: 5px;
  border-radius: 16px;

  &--1 {
    background-color: $color-accent-5;
    color: $color-font-base;
  }

  &--2 {
    background-color: $color-accent-6;
    color: $color-font-base;
  }

  &--3 {
    background-color: $color-accent-3;
    color: $color-font-base;
  }

  @media ($media-sm) {
    padding: 0 8px;
    border-radius: 12px;
  }
}

.new-gen-price {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;

  &__old {
    position: relative;
    font-family: $font-regular;
    font-size: 20px;
    overflow: hidden;
    margin-right: 15px;

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      top: -50%;
      left: -50%;
      right: -50%;
      bottom: -50%;
      margin: auto;
      transform: rotate(-13deg);
      height: 2px;
      width: 100%;
      background-color: $color-accent-1;
    }
  }

  &__current {
    font-family: $font-medium;
    font-size: 26px;
  }
}

.new-gen-order {
  @include reseta;
  text-align: center;
  display: inline-block;
  margin-bottom: 15px;
  background-color: $color-accent-1;
  border: none;
  border-radius: 16px;
  font-family: $font-bold;
  font-size: 18px;
  padding: 20px;
  color: $color-font-base;
  cursor: pointer;

  @media ($media-sm) {
    padding: 10px 16px;
    font-size: 14px;
  }
}

.new-gen-description {
  font-size: 14px;
  font-family: $font-regular;
  max-width: 400px;
  margin: 0 auto;
  color: $color-font-secondary;

  @media ($media-sm) {
    font-size: 11px;
  }
}

.new-gen-header {
  $new-gen-header: &;

  display: flex;
  align-items: center;
  background-color: $color-bg-transparency;
  width: 100%;
  height: 64px;
  padding: 0 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  position: fixed;
  font-family: $font-regular;
  z-index: 3;

  @media ($media-sm) {
    height: 68px;
    padding: 0 15px;
    border-bottom: none;
  }

  &--scrolled {
    #{$new-gen-header}__phone-wrapper {
      margin: 0 auto 0 0;

      @media ($media-md) {
        display: none;
      }
    }

    #{$new-gen-header}__content {
      display: block;
    }

    #{$new-gen-header}__order {
      display: block;
    }

    #{$new-gen-header}__logo-link {
      @media ($media-sm) {
        display: none;
      }
    }
  }

  &__logo-link {
    line-height: 1;
    margin-right: 50px;
  }

  &__logo {
    height: 20px;

    @media ($media-sm) {
      position: absolute;
      top: -50%;
      right: -50%;
      bottom: -50%;
      left: -50%;
      margin: auto;
    }
  }

  &__phone-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    @media ($media-sm) {
      display: none;
    }
  }

  &__phone {
    display: inline-block;
    text-decoration: none;
    color: $color-font-base;
    font-size: 14px;
    margin-right: auto;
  }

  &__callback {
    color: $color-accent-1;
    font-family: $font-medium;
    font-size: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__content {
    margin-right: 20px;
    display: none;
  }

  &__title {
    font-size: 16px;
    color: $color-font-secondary;

    @media ($media-sm) {
      font-size: 14px;
    }
  }

  &__subtitle {
    font-size: 12px;

    @media ($media-sm) {
      font-size: 10px;
    }
  }

  &__bold {
    font-family: $font-bold;
  }

  &__order {
    @include reseta;
    text-align: center;
    display: none;
    background-color: $color-accent-1;
    border: none;
    border-radius: 16px;
    font-family: $font-bold;
    font-size: 18px;
    padding: 10px 20px;
    color: $color-font-base;
    cursor: pointer;
    text-decoration: none;

    @media ($media-sm) {
      font-family: $font-medium;
      padding: 7px 12px;
      width: 90px;
      font-size: 12px;
      margin-left: auto;
    }
  }
}

.new-gen-main {
  height: 700px;
  padding: 45px 20px 0;
  background-color: $color-bg-1;

  @media ($media-sm) {
    padding: 68px 0 0;
    height: auto;
  }

  &__container {
    position: relative;
    display: flex;
    height: 100%;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      width: calc(1224px / 2);
      height: 100%;
      max-width: 723px;
      background: #000 url(/assets/img/new-gen-main/bg-crop.jpg) no-repeat center bottom/100%;
    }

    @media ($media-sm) {
      flex-direction: column;
      align-items: center;

      &::after {
        position: relative;
        width: 100%;
        height: 400px;
        background: #000 url(/assets/img/new-gen-main/bg-crop.jpg) no-repeat center/auto 100%;
      }
    }
  }

  &__content {
    position: relative;
    width: calc(1224px / 2);
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;

    @media ($media-sm) {
      align-items: center;
      text-align: center;
      margin-bottom: 50px;
      padding: 0 15px;
    }
  }

  &__title {
    font-family: $font-medium;
    font-size: 60px;
    margin-bottom: 20px;

    @media ($media-sm) {
      font-size: 26px;
    }
  }

  &__highlight {
    display: inline-block;
    padding: 5px;
    border-radius: 16px;
    background-color: $color-font-base;
    color: $color-font-inverse;

    @media ($media-sm) {
      padding: 0 8px;
    }
  }

  &__subtitle {
    font-family: $font-regular;
    font-size: 18px;
    margin-bottom: 20px;

    @media ($media-sm) {
      font-size: 14px;
    }
  }

  &__bold {
    font-family: $font-bold;
  }

  &__price {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }

  &__price-old {
    position: relative;
    font-family: $font-regular;
    font-size: 20px;
    overflow: hidden;
    margin-right: 15px;

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      top: -50%;
      left: -50%;
      right: -50%;
      bottom: -50%;
      margin: auto;
      transform: rotate(-13deg);
      height: 2px;
      width: 100%;
      background-color: $color-accent-1;
    }
  }

  &__price-current {
    font-family: $font-medium;
    font-size: 26px;
  }

  &__description {
    color: $color-font-secondary;
    font-size: 14px;

    @media ($media-sm) {
      font-size: 11px;
    }
  }

  &__order {
    @include reseta;
    text-align: center;
    margin-bottom: 15px;
    background-color: $color-accent-1;
    border: none;
    border-radius: 16px;
    font-family: $font-bold;
    font-size: 18px;
    padding: 20px;
    color: $color-font-base;
    cursor: pointer;

    @media ($media-sm) {
      padding: 10px 16px;
      font-size: 14px;
    }
  }
}

.new-gen-advantages {
  background-color: $color-bg-3;
  padding: 55px 16px;

  @media ($media-sm) {
    padding: 32px 16px;
  }

  &__inner {
    display: flex;
    background-color: $color-bg-2;
    padding: 30px 50px 10px;
    border-radius: 30px;
    flex-direction: column;

    @media ($media-sm) {
      flex-direction: column;
      padding: 25px 32px 10px;;
    }
  }

  &__highlight {
    display: inline-block;
    padding: 5px;
    border-radius: 16px;
    background-color: $color-accent-8;
    color: $color-font-base;

    @media ($media-sm) {
      padding: 0 8px;
      border-radius: 12px;
    }
  }

  &__title {
    font-family: $font-medium;
    font-size: 60px;
    margin-bottom: 40px;

    @media ($media-sm) {
      font-size: 26px;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;

    @media ($media-sm) {
      flex-direction: column;
    }
  }

  &__item {
    width: 50%;
    font-family: $font-medium;
    font-size: 26px;
    color: $color-font-secondary;
    padding: 0 30px 20px 0;

    @media ($media-sm) {
      width: 100%;
      padding-right: 0;

      &--brightness {
        order: 0;
      }

      &--volume {
        order: 2;
      }

      &--speed {
        order: 1;
      }

      &--family {
        order: 3;
      }
    }
  }

  &__item-title {
    display: flex;
    color: $color-font-base;
    margin-bottom: 20px;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      width: 64px;
      height: 64px;
      flex: 0 0 64px;
      border-radius: 16px;
      margin: 0 20px auto 0;
    }

    &--brightness {
      &::before {
        background: $color-accent-2 url("/assets/img/new-gen-advantages/icon1.svg") no-repeat center;
      }
    }

    &--volume {
      &::before {
        background: $color-accent-3 url("/assets/img/new-gen-advantages/icon3.svg") no-repeat center;
      }
    }

    &--speed {
      &::before {
        background: $color-accent-4 url("/assets/img/new-gen-advantages/icon4.svg") no-repeat center;
      }
    }

    &--family {
      &::before {
        background: $color-accent-5 url("/assets/img/new-gen-advantages/icon2.svg") no-repeat center;
      }
    }
  }

  &__product {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media ($media-sm) {
      display: none;
    }
  }

  &__img {
    width: 417px;
    max-width: 100%;
  }
}
