@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
  }
}

@mixin reseta($color: $color-font-base) {
  color: $color;
  text-decoration: none;

  &:active, &:visited, &:focus, &:hover {
    color: $color;
    text-decoration: none;
  }
}
