$color-bg-1: #000;
$color-bg-2: #151519;
$color-bg-3: #252525;
$color-bg-4: #27272C;
$color-bg-transparency: rgba(0, 0, 0, 0.75);
$color-font-base: #fff;
$color-font-inverse: #151519;
$color-font-secondary: rgba(255, 255, 255, 0.5);
$color-accent-1: #017FF7;
$color-accent-2: #F0843C;
$color-accent-3: #8FDCFB;
$color-accent-4: #E85E52;
$color-accent-5: #684CDB;
$color-accent-6: #7AC34C;
$color-accent-7: #1A52D4;
$color-accent-8: #EE70A9;

$font-regular: "gotham", sans-serif;
$font-bold: "gotham-bold", sans-serif;
$font-black: "gotham-black", sans-serif;
$font-medium: "gotham-medium", sans-serif;

$media-xs: "max-width: 640px";
$media-sm: "max-width: 768px";
$media-md: "max-width: 1024px";
$media-lg: "max-width: 1200px";
