.new-gen-legacy {
  .wrap {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }

  .header-new .wrap {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }

  @media (max-width: 767px) {
    .wow-page .footer_new .wrap {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .ivi-page .footer_new .wrap {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }

  @media (max-width: 767px) {
    .wrap {
      padding-left: 15px;
      padding-right: 15px;
    }

    .header-new .wrap {
      padding-left: 15px;
      padding-right: 15px;
    }

    .ivi-page .footer_new .wrap {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .wrap:after {
    content: " ";
    display: block;
    clear: both;
  }

  .wrap *, .wrap *:before, .wrap *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  @media all and (max-width: 767px) {
    .wrap {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  header {
    font-family: "Gotham Pro", "Roboto", sans-serif;
    font-weight: 400;
    line-height: 20px;
    color: #111111;
    letter-spacing: 0px;
    background: white;
    height: 80px;
    width: 100%;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 50px;
  }

  @media all and (max-width: 767px) {
    header {
      padding: 0 20px;
      margin-bottom: 20px;
      height: 60px;
    }
  }

  @media all and (max-width: 479px) {
    header {
      margin-bottom: 5px;
    }
  }

  header a.logo {
    position: relative;
    width: 192px;
    display: block;
  }

  header a.logo img {
    vertical-align: middle;
    position: relative;
    width: 100%;
  }

  header a.header-tel {
    position: relative;
    display: block;
    font-family: "Gotham Pro Bold", "Roboto Bold", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #111111;
    text-decoration: none;
    background-size: 36px;
    background-repeat: no-repeat;
    background: none;
  }

  @media all and (max-width: 767px) {
    header a.header-tel {
      background-image: url(/assets/images/ui/phone_icon.svg);
      width: 36px;
    }
  }

  @media all and (max-width: 767px) {
    header a.header-tel span {
      display: none;
    }
  }

  header.header-new {
    position: fixed;
    display: block;
    height: auto;
    background: white;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    padding: 0;
  }

  @media all and (max-width: 999px) {
    header.header-new {
      height: 56px;
    }
  }

  header.header-new .header-top-section {
    position: relative;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: white;
    border-bottom: 1px solid #E5E5E5;
  }

  header.header-new .logo {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin-left: 50px;
  }

  @media all and (max-width: 999px) {
    header.header-new .logo {
      margin-left: 0;
    }
  }

  header.header-new .header-end {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  header.header-new .header-telephone {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 20px;
    text-align: right;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  @media all and (max-width: 999px) {
    header.header-new .header-telephone {
      display: none;
    }
  }

  header.header-new .header-telephone .header-tel {
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: #111111;
    font-family: "Gotham Pro Medium", "Roboto Medium", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: normal;
  }

  header.header-new .header-telephone .callback {
    outline: none;
    cursor: pointer;
    border: none;
    line-height: 1.15;
    margin: 0;
    color: #3998CE;
    text-decoration: underline;
    font-size: 14px;
    border: none;
    text-align: right;
    outline: none;
    cursor: pointer;
    border: none;
    font-family: inherit;
    font-size: 100%;
    font-family: "Gotham Pro", "Roboto", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    font-weight: 400;
    background: transparent;
  }

  header.header-new .header-telephone .callback:hover {
    text-decoration: none;
  }

  header.header-new .header-telephone .callback:focus {
    outline: none;
  }

  header.header-new .header-basket {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background: #F559A0;
    background-image: url(/assets/images/ui/shopping-cart.svg);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center center;
  }

  #mavd-tooltip {
    z-index: 9999;
    position: absolute;
    display: none;
    top: 35px;
    right: 55px;
    background-color: #F559A0;
    padding: 5px 10px 5px 10px;
    color: white;
    opacity: 1;
    border-radius: 5px;
  }

  header.header-new .header-basket.empty-cart {
    background: #d6d6d6;
    background-image: url(/assets/images/ui/shopping-cart.svg);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center center;
  }

  @media all and (max-width: 999px) {
    header.header-new .header-basket {
      width: 56px;
      height: 56px;
    }
  }

  header.header-new .header-basket span {
    font-family: "Gotham Pro", "Roboto", sans-serif;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    background: white;
    color: #F559A0;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    right: 14px;
    top: 14px;
  }

  @media all and (max-width: 999px) {
    header.header-new .header-basket span {
      right: 7px;
      top: 7px;
    }
  }

  header.header-new .mobile-nav-button {
    display: none;
  }

  @media all and (max-width: 999px) {
    header.header-new .mobile-nav-button {
      display: block;
      position: relative;
      height: 56px;
      width: 56px;
      top: 0;
      left: 0;
    }
  }

  header.header-new .header-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    padding: 0 10px;
  }

  @media all and (max-width: 999px) {
    header.header-new .header-nav {
      display: none;
    }
  }

  header.header-new .header-nav ul.main-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style-type: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    max-width: 540px;
    font-weight: 400;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  header.header-new .header-nav ul.main-nav li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    padding: 0 10px;
    cursor: pointer;
    height: 100%;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
  }

  header.header-new .header-nav ul.main-nav li:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #3998CE;
    left: 0;
    bottom: -1px;
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
  }

  header.header-new .header-nav ul.main-nav li a {
    color: #111111;
    text-decoration: none;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
  }

  header.header-new .header-nav ul.main-nav li:hover, header.header-new .header-nav ul.main-nav li:hover a {
    color: #3998CE;
  }

  header.header-new .header-nav ul.main-nav li:hover:after, header.header-new .header-nav ul.main-nav li:hover a:after {
    visibility: visible;
    opacity: 1;
  }

  header.header-new .header-nav ul.main-nav li.active:after {
    visibility: visible;
    opacity: 1;
  }

  header.header-new .header-nav ul.main-nav li.support:hover:after, header.header-new .header-nav ul.main-nav li.support.active:after {
    display: none;
  }

  .nav-drawer {
    position: absolute;
    display: block;
    width: 100%;
    min-height: 56px;
    background: white;
    top: 100%;
    z-index: 3;
    -webkit-box-shadow: 0 6px 24px rgba(0, 0, 0, .15);
    box-shadow: 0 6px 24px rgba(0, 0, 0, .15);
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  }

  .nav-drawer#product-drawer {
    -webkit-transition: -webkit-transform .4s ease-out;
    transition: -webkit-transform .4s ease-out;
    transition: transform .4s ease-out;
    transition: transform .4s ease-out, -webkit-transform .4s ease-out;
  }

  .nav-drawer.show-drawer {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .nav-drawer .nav-drawer-content {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }

  .nav-drawer .products-section {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 290px;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
  }

  .nav-drawer .products-section .nav-product-card {
    position: relative;
    display: block;
    width: calc(20% - 20px);
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
  }

  .nav-drawer .products-section .nav-product-card:last-child {
    margin-right: 0;
  }

  .nav-drawer .products-section .nav-product-card .card-top {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
  }

  .nav-drawer .products-section .nav-product-card .card-top .card-image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    -webkit-transition: background .5s ease-out;
    transition: background .5s ease-out;
    border-radius: 10px;
    overflow: hidden;
  }

  .nav-drawer .products-section .nav-product-card .card-bottom {
    line-height: 20px;
    position: absolute;
    display: block;
    width: 100%;
    height: 78px;
    left: 0;
    bottom: 0;
    text-align: center;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
  }

  .nav-drawer .products-section .nav-product-card .card-bottom .card-bottom-sling {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #F559A0;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
    -webkit-transition: opacity .3s ease-out, -webkit-transform .15s ease-out;
    transition: opacity .3s ease-out, -webkit-transform .15s ease-out;
    transition: opacity .3s ease-out, transform .15s ease-out;
    transition: opacity .3s ease-out, transform .15s ease-out, -webkit-transform .15s ease-out;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
  }

  .nav-drawer .products-section .nav-product-card .card-bottom .product-title {
    position: relative;
    display: block;
    color: #111111;
    text-align: center;
    z-index: 3;
    font-size: 16px;
    line-height: 20px;
    font-family: "Gotham Pro Medium", "Roboto Medium", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: normal;
    margin-bottom: 5px;
    padding: 10px 10px 0 10px;
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
  }

  .nav-drawer .products-section .nav-product-card .card-bottom .product-caption {
    position: relative;
    display: block;
    color: #999999;
    text-align: center;
    z-index: 3;
    font-size: 14px;
    line-height: 14px;
    padding: 0 20px;
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
  }

  .nav-drawer .products-section .nav-product-card:hover .card-bottom-sling {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .nav-drawer .products-section .nav-product-card:hover .product-title, .nav-drawer .products-section .nav-product-card:hover .product-caption {
    color: white;
  }

  .nav-drawer .links-section {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
  }

  .nav-drawer .links-section .drawer-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-drawer .links-section .drawer-nav li {
    position: relative;
    display: block;
    padding: 0 20px;
  }

  .nav-drawer .links-section .drawer-nav li a {
    position: relative;
    display: block;
    color: #111111;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
  }

  .nav-drawer .links-section .drawer-nav li a:hover {
    color: #3998CE;
  }

  .mobile-header {
    position: fixed;
    left: 0;
    top: 0;
    background: #FAFAFA;
    height: 100%;
    width: calc(100% - 56px);
    overflow: hidden;
    z-index: 9999999;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
  }

  .mobile-header.mobile-header-show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .mobile-header-container {
    position: absolute;
    display: block;
    height: 100%;
    width: calc(100%);
    overflow-y: auto;
  }

  .mobile-header-top {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(100%);
    height: 57px;
    padding-left: 15px;
    border-bottom: 1px solid #E5E5E5;
  }

  .mobile-navigation {
    line-height: 20px;
    position: relative;
    display: block;
    width: 100%;
    overflow-y: hidden;
  }

  .mobile-navigation-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100%);
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .mobile-navigation-item {
    position: relative;
    display: block;
    width: 100%;
  }

  .mobile-navigation-item:after {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    background: #E5E5E5;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: width .3s ease;
    transition: width .3s ease;
  }

  .mobile-navigation-item.collapsible {
    overflow: hidden;
  }

  /*
  .mobile-navigation-item.collapsible:before {
      content: "";
      display: block;
      position: absolute;
      height: 12px;
      width: 12px;
      top: 24px;
      right: 15px;
      background-image: url(/assets/images/header/nav-plus.svg);
      background-repeat: no-repeat;
      -webkit-transition: background .3s ease, -webkit-transform .3s ease;
      transition: background .3s ease, -webkit-transform .3s ease;
      transition: background .3s ease, transform .3s ease;
      transition: background .3s ease, transform .3s ease, -webkit-transform .3s ease;
      -webkit-transform-origin: center center;
      transform-origin: center center;
      z-index: 2; }
      */
  .mobile-navigation-item.collapsible.active {
    color: #3998CE;
    font-weight: 500;
    height: 100%;
  }

  /*
  .mobile-navigation-item.collapsible.active:before {
      background-image: url(/assets/images/header/nav-minus.svg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
  */
  .mobile-navigation-item.collapsible.active:after {
    width: 100%;
  }

  .mobile-navigation-item.collapsible.active .mobile-navigation-list-title {
    color: #3998CE;
    background: white;
  }

  .mobile-navigation-item.product-card-list .mobile-navigation-list-title:after {
    display: none;
  }

  .mobile-navigation-list-title {
    font-weight: 400;
    position: relative;
    display: block;
    width: 100%;
    font-size: 16px;
    color: #111111;
    cursor: pointer;
    padding: 20px 40px 20px 15px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    background: #FAFAFA;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
  }

  /*
  .mobile-navigation-list-title:before {
      content: "";
      display: block;
      position: absolute;
      width: calc(100% - 30px);
      height: 1px;

      background: #E5E5E5;
      left: 50%;
      top: -1px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: width .3s ease;
      transition: width .3s ease; }*/
  .mobile-navigation-list-title:after {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    background: #E5E5E5;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: width .3s ease;
    transition: width .3s ease;
  }

  .mobile-navigation-list-title:hover {
    color: #3998CE;
  }

  a.inner-navigation-link {
    font-weight: 400;
    display: block;
    position: relative;
    font-size: 16px;
    color: #111111;
    text-decoration: none;
    padding: 20px 40px 20px 15px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
  }

  .inner-navigation-link:before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 13px;
    right: 15px;
    top: 24px;
    background-image: url(/assets/images/header/nav-chevron.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .inner-navigation-link:after {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    background: #E5E5E5;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: width .3s ease;
    transition: width .3s ease;
  }

  a.inner-navigation-link:hover {
    color: #3998CE;
  }

  .inner-navigation-list {
    margin: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
    background: white;
    height: 0;
    -webkit-transition: height .3s ease;
    transition: height .3s ease;
  }

  .inner-navigation-list-item {
    position: relative;
    display: block;
    width: 100%;
  }

  .inner-navigation-card {
    position: relative;
    display: block;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: white;
    height: 88px;
    padding: 0 15px;
    margin-bottom: 15px;
    text-decoration: none;
  }

  .inner-navigation-card-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #FAFAFA;
    border-radius: 10px;
  }

  .inner-navigation-card-image {
    position: relative;
    display: block;
    width: 88px;
    height: 88px;
  }

  .inner-navigation-card-title {
    font-family: "Gotham Pro", "Roboto", sans-serif;
    font-weight: 600;
    position: relative;
    display: block;
    width: 100%;
    font-size: 16px;
    color: #111111;
    margin-bottom: 2px;
  }

  .inner-navigation-card-caption {
    font-family: "Gotham Pro", "Roboto", sans-serif;
    font-weight: 400;
    position: relative;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    color: #999999;
  }

  .mobile-header-contact {
    position: relative;
    display: block;
    width: 100%;
    line-height: 17px;
    padding-left: 15px;
    padding-top: 20px;
  }

  .mobile-header-contact .header-tel {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #111111;
    font-family: "Gotham Pro Medium", "Roboto Medium", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: normal;
  }

  @media all and (max-width: 999px) {
    .mobile-header-contact .header-tel {
      background-image: none;
      line-height: 36px;
      width: auto;
      width: initial;
    }
  }

  .mobile-header-contact .callback {
    font-family: "Gotham Pro", "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    color: #3998CE;
    text-decoration: underline;
    font-size: 14px;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    line-height: 20px;
    background: transparent;
  }

  .mobile-header-contact .callback:hover {
    outline: none;
    text-decoration: none;
  }

  .mobile-header-contact .callback:focus {
    outline: none;
  }

  .desktop-header {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
  }

  .modal {
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    border-radius: 10px;
    -webkit-box-shadow: 0 6px 24px rgba(0, 0, 0, .15);
    box-shadow: 0 6px 24px rgba(0, 0, 0, .15);
  }

  .fancybox-slide {
    padding: 15px;
  }

  .fancybox-bg {
    background-color: #3998ce;
    background: linear-gradient(135deg, #f559a0 0%, #3998ce 100%);
  }

  .fancybox-close-small, .fancybox-button--close {
    width: 40px;
    height: 40px;
    background: none;
    background-image: url(/assets/images/ui/modal_close.svg);
    -webkit-box-shadow: 0 6px 24px rgba(0, 0, 0, .15);
    box-shadow: 0 6px 24px rgba(0, 0, 0, .15);
    top: 20px;
    right: 20px;
    border-radius: 50%;
    background-position: 50% 50%;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .fancybox-close-small:after, .fancybox-button--close:after {
    display: none;
  }

  .fancybox-button--close {
    top: 20px;
    right: 20px;
    position: absolute;
  }

  .fancybox-button--close svg {
    display: none;
  }

  .fancybox-button--share, .fancybox-button--fullscreen {
    display: none;
  }

  .fancybox-slide--video .fancybox-content {
    overflow: hidden;
    border-radius: 10px;
    margin-right: -1px;
  }

  #pickup_map #map {
    width: calc(100vw - 30px);
    height: 60vh;
    max-width: 1200px;
    border-radius: 10px;
    overflow: hidden;
  }

  #pickup_map #pickup_select__search {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  @media all and (max-width: 529px) {
    #pickup_map #pickup_select__search {
      display: none;
    }
  }

  #pickup_map #pickup_select__search input {
    height: 48px;
    width: 390px;
    background-image: url(/assets/images/ui/map_point.svg);
    background-size: 13px 18px;
    background-repeat: no-repeat;
    background-position: 15px 50%;
    border: none;
    padding: 0 20px 0 40px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
  }

  .product_modal, .callback_modal {
    max-width: 1140px;
    margin-left: 40px;
    margin-right: 40px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px;
  }

  @media all and (max-width: 767px) {
    .product_modal, .callback_modal {
      margin: 0;
      padding: 50px 20px;
    }
  }

  .product_modal .fancybox-close-small, .callback_modal .fancybox-close-small {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #3998CE;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .product_modal .fancybox-close-small:hover, .callback_modal .fancybox-close-small:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .product_modal .product_modal__content, .product_modal .callback_modal_content, .callback_modal .product_modal__content, .callback_modal .callback_modal_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  @media all and (max-width: 991px) {
    .product_modal .product_modal__content, .product_modal .callback_modal_content, .callback_modal .product_modal__content, .callback_modal .callback_modal_content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  .product_modal .product_modal__content .product_modal__left, .product_modal .callback_modal_content .product_modal__left, .callback_modal .product_modal__content .product_modal__left, .callback_modal .callback_modal_content .product_modal__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  @media all and (max-width: 991px) {
    .product_modal .product_modal__content .product_modal__left, .product_modal .callback_modal_content .product_modal__left, .callback_modal .product_modal__content .product_modal__left, .callback_modal .callback_modal_content .product_modal__left {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
    }
  }

  .product_modal .product_modal__content .product_modal__left .thumb_images, .product_modal .callback_modal_content .product_modal__left .thumb_images, .callback_modal .product_modal__content .product_modal__left .thumb_images, .callback_modal .callback_modal_content .product_modal__left .thumb_images {
    width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 20px;
  }

  @media all and (max-width: 991px) {
    .product_modal .product_modal__content .product_modal__left .thumb_images, .product_modal .callback_modal_content .product_modal__left .thumb_images, .callback_modal .product_modal__content .product_modal__left .thumb_images, .callback_modal .callback_modal_content .product_modal__left .thumb_images {
      width: 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-right: 0;
      padding: 10px;
    }
  }

  .product_modal .product_modal__content .product_modal__left .thumb_images .thumb, .product_modal .callback_modal_content .product_modal__left .thumb_images .thumb, .callback_modal .product_modal__content .product_modal__left .thumb_images .thumb, .callback_modal .callback_modal_content .product_modal__left .thumb_images .thumb {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    padding: 4px;
    -webkit-transition: border 0.3s ease-in-out;
    transition: border 0.3s ease-in-out;
  }

  @media all and (max-width: 991px) {
    .product_modal .product_modal__content .product_modal__left .thumb_images .thumb, .product_modal .callback_modal_content .product_modal__left .thumb_images .thumb, .callback_modal .product_modal__content .product_modal__left .thumb_images .thumb, .callback_modal .callback_modal_content .product_modal__left .thumb_images .thumb {
      margin-left: 10px;
      margin-right: 10px;
      width: 10px;
      height: 10px;
    }

    .product_modal .product_modal__content .product_modal__left .thumb_images .thumb.active, .product_modal .callback_modal_content .product_modal__left .thumb_images .thumb.active, .callback_modal .product_modal__content .product_modal__left .thumb_images .thumb.active, .callback_modal .callback_modal_content .product_modal__left .thumb_images .thumb.active {
      background: #3998CE;
    }
  }

  .product_modal .product_modal__content .product_modal__left .thumb_images .thumb img, .product_modal .callback_modal_content .product_modal__left .thumb_images .thumb img, .callback_modal .product_modal__content .product_modal__left .thumb_images .thumb img, .callback_modal .callback_modal_content .product_modal__left .thumb_images .thumb img {
    position: relative;
    width: 100%;
    opacity: 0.6;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }

  @media all and (max-width: 991px) {
    .product_modal .product_modal__content .product_modal__left .thumb_images .thumb img, .product_modal .callback_modal_content .product_modal__left .thumb_images .thumb img, .callback_modal .product_modal__content .product_modal__left .thumb_images .thumb img, .callback_modal .callback_modal_content .product_modal__left .thumb_images .thumb img {
      display: none;
    }
  }

  .product_modal .product_modal__content .product_modal__left .thumb_images .thumb.active, .product_modal .callback_modal_content .product_modal__left .thumb_images .thumb.active, .callback_modal .product_modal__content .product_modal__left .thumb_images .thumb.active, .callback_modal .callback_modal_content .product_modal__left .thumb_images .thumb.active {
    border: 1px solid #3998CE;
  }

  .product_modal .product_modal__content .product_modal__left .thumb_images .thumb.active img, .product_modal .callback_modal_content .product_modal__left .thumb_images .thumb.active img, .callback_modal .product_modal__content .product_modal__left .thumb_images .thumb.active img, .callback_modal .callback_modal_content .product_modal__left .thumb_images .thumb.active img {
    opacity: 1;
  }

  .product_modal .product_modal__content .product_modal__left .product_image, .product_modal .callback_modal_content .product_modal__left .product_image, .callback_modal .product_modal__content .product_modal__left .product_image, .callback_modal .callback_modal_content .product_modal__left .product_image {
    display: block;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 10px;
  }

  @media all and (max-width: 991px) {
    .product_modal .product_modal__content .product_modal__left .product_image, .product_modal .callback_modal_content .product_modal__left .product_image, .callback_modal .product_modal__content .product_modal__left .product_image, .callback_modal .callback_modal_content .product_modal__left .product_image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-right: 0;
    }
  }

  .product_modal .product_modal__content .product_modal__left .product_image img, .product_modal .callback_modal_content .product_modal__left .product_image img, .callback_modal .product_modal__content .product_modal__left .product_image img, .callback_modal .callback_modal_content .product_modal__left .product_image img {
    display: none;
    position: relative;
    width: 100%;
  }

  @media all and (max-width: 991px) {
    .product_modal .product_modal__content .product_modal__left .product_image img, .product_modal .callback_modal_content .product_modal__left .product_image img, .callback_modal .product_modal__content .product_modal__left .product_image img, .callback_modal .callback_modal_content .product_modal__left .product_image img {
      max-width: 400px;
    }
  }

  .product_modal .product_modal__content .product_modal__left .product_image img.active, .product_modal .callback_modal_content .product_modal__left .product_image img.active, .callback_modal .product_modal__content .product_modal__left .product_image img.active, .callback_modal .callback_modal_content .product_modal__left .product_image img.active {
    display: block;
  }

  .product_modal .product_modal__content .product_modal__left .slider-controls, .product_modal .callback_modal_content .product_modal__left .slider-controls, .callback_modal .product_modal__content .product_modal__left .slider-controls, .callback_modal .callback_modal_content .product_modal__left .slider-controls {
    display: none;
  }

  @media all and (max-width: 991px) {
    .product_modal .product_modal__content .product_modal__left .slider-controls, .product_modal .callback_modal_content .product_modal__left .slider-controls, .callback_modal .product_modal__content .product_modal__left .slider-controls, .callback_modal .callback_modal_content .product_modal__left .slider-controls {
      display: block;
    }
  }

  .product_modal .product_modal__content .product_modal__left .slider-controls .prev-slide, .product_modal .callback_modal_content .product_modal__left .slider-controls .prev-slide, .callback_modal .product_modal__content .product_modal__left .slider-controls .prev-slide, .callback_modal .callback_modal_content .product_modal__left .slider-controls .prev-slide {
    content: "";
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 0;
    background-image: url(/assets/images/ui/slider_arrow.svg);
    z-index: 999;
    cursor: pointer;
  }

  .product_modal .product_modal__content .product_modal__left .slider-controls .prev-slide.inactive, .product_modal .callback_modal_content .product_modal__left .slider-controls .prev-slide.inactive, .callback_modal .product_modal__content .product_modal__left .slider-controls .prev-slide.inactive, .callback_modal .callback_modal_content .product_modal__left .slider-controls .prev-slide.inactive {
    opacity: 0.5;
  }

  .product_modal .product_modal__content .product_modal__left .slider-controls .next-slide, .product_modal .callback_modal_content .product_modal__left .slider-controls .next-slide, .callback_modal .product_modal__content .product_modal__left .slider-controls .next-slide, .callback_modal .callback_modal_content .product_modal__left .slider-controls .next-slide {
    content: "";
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    right: 0;
    background-image: url(/assets/images/ui/slider_arrow.svg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: 999;
    cursor: pointer;
  }

  .product_modal .product_modal__content .product_modal__left .slider-controls .next-slide.inactive, .product_modal .callback_modal_content .product_modal__left .slider-controls .next-slide.inactive, .callback_modal .product_modal__content .product_modal__left .slider-controls .next-slide.inactive, .callback_modal .callback_modal_content .product_modal__left .slider-controls .next-slide.inactive {
    opacity: 0.5;
  }

  .product_modal .product_modal__content .product_modal__right, .product_modal .callback_modal_content .product_modal__right, .callback_modal .product_modal__content .product_modal__right, .callback_modal .callback_modal_content .product_modal__right {
    display: block;
    position: relative;
    width: 50%;
  }

  @media all and (max-width: 991px) {
    .product_modal .product_modal__content .product_modal__right, .product_modal .callback_modal_content .product_modal__right, .callback_modal .product_modal__content .product_modal__right, .callback_modal .callback_modal_content .product_modal__right {
      width: 100%;
    }
  }

  .product_modal .product_modal__content .product_modal__right .product_title, .product_modal .callback_modal_content .product_modal__right .product_title, .callback_modal .product_modal__content .product_modal__right .product_title, .callback_modal .callback_modal_content .product_modal__right .product_title {
    font-family: Gotham Pro Bold, Roboto Bold, sans-serif;
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 20px;
  }

  @media all and (max-width: 991px) {
    .product_modal .product_modal__content .product_modal__right .product_title, .product_modal .callback_modal_content .product_modal__right .product_title, .callback_modal .product_modal__content .product_modal__right .product_title, .callback_modal .callback_modal_content .product_modal__right .product_title {
      text-align: center;
    }
  }

  @media all and (max-width: 767px) {
    .product_modal .product_modal__content .product_modal__right .product_title, .product_modal .callback_modal_content .product_modal__right .product_title, .callback_modal .product_modal__content .product_modal__right .product_title, .callback_modal .callback_modal_content .product_modal__right .product_title {
      font-size: 32px;
      line-height: 40px;
    }
  }

  .product_modal .product_modal__content .product_modal__right .product_description, .product_modal .callback_modal_content .product_modal__right .product_description, .callback_modal .product_modal__content .product_modal__right .product_description, .callback_modal .callback_modal_content .product_modal__right .product_description {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  @media all and (max-width: 991px) {
    .product_modal .product_modal__content .product_modal__right .product_description, .product_modal .callback_modal_content .product_modal__right .product_description, .callback_modal .product_modal__content .product_modal__right .product_description, .callback_modal .callback_modal_content .product_modal__right .product_description {
      text-align: center;
    }
  }

  .product_modal .product_modal__content .product_modal__right .product_description p, .product_modal .callback_modal_content .product_modal__right .product_description p, .callback_modal .product_modal__content .product_modal__right .product_description p, .callback_modal .callback_modal_content .product_modal__right .product_description p {
    font-family: Gotham Pro, Roboto, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .product_modal .product_modal__content .product_modal__right .product_description a.video-link, .product_modal .callback_modal_content .product_modal__right .product_description a.video-link, .callback_modal .product_modal__content .product_modal__right .product_description a.video-link, .callback_modal .callback_modal_content .product_modal__right .product_description a.video-link {
    display: block;
    position: relative;
    background-image: url(/assets/images/ui/video_link.svg);
    background-size: 17px 16px;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    margin-top: 16px;
    color: #3998CE;
  }

  @media all and (max-width: 991px) {
    .product_modal .product_modal__content .product_modal__right .product_description a.video-link, .product_modal .callback_modal_content .product_modal__right .product_description a.video-link, .callback_modal .product_modal__content .product_modal__right .product_description a.video-link, .callback_modal .callback_modal_content .product_modal__right .product_description a.video-link {
      display: inline;
    }
  }

  .product_modal .product_modal__content .product_modal__right .product_options, .product_modal .callback_modal_content .product_modal__right .product_options, .callback_modal .product_modal__content .product_modal__right .product_options, .callback_modal .callback_modal_content .product_modal__right .product_options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  @media all and (max-width: 520px) {
    .product_modal .product_modal__content .product_modal__right .product_options, .product_modal .callback_modal_content .product_modal__right .product_options, .callback_modal .product_modal__content .product_modal__right .product_options, .callback_modal .callback_modal_content .product_modal__right .product_options {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  .product_modal .product_modal__content .product_modal__right .product_options .product_price, .product_modal .callback_modal_content .product_modal__right .product_options .product_price, .callback_modal .product_modal__content .product_modal__right .product_options .product_price, .callback_modal .callback_modal_content .product_modal__right .product_options .product_price {
    font-family: Gotham Pro, Roboto, sans-serif;
    font-size: 30px;
    margin-right: 10px;
  }

  @media all and (max-width: 520px) {
    .product_modal .product_modal__content .product_modal__right .product_options .product_price, .product_modal .callback_modal_content .product_modal__right .product_options .product_price, .callback_modal .product_modal__content .product_modal__right .product_options .product_price, .callback_modal .callback_modal_content .product_modal__right .product_options .product_price {
      padding: 10px 20px 20px;
      margin-right: 0;
    }
  }

  .product_modal .product_modal__content .product_modal__right .product_options .total_price, .product_modal .callback_modal_content .product_modal__right .product_options .total_price, .callback_modal .product_modal__content .product_modal__right .product_options .total_price, .callback_modal .callback_modal_content .product_modal__right .product_options .total_price {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  @media all and (max-width: 520px) {
    .product_modal .product_modal__content .product_modal__right .product_options .total_price, .product_modal .callback_modal_content .product_modal__right .product_options .total_price, .callback_modal .product_modal__content .product_modal__right .product_options .total_price, .callback_modal .callback_modal_content .product_modal__right .product_options .total_price {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }

  .product_modal .product_modal__content .product_modal__right .product_options .discount_price, .product_modal .callback_modal_content .product_modal__right .product_options .discount_price, .callback_modal .product_modal__content .product_modal__right .product_options .discount_price, .callback_modal .callback_modal_content .product_modal__right .product_options .discount_price {
    font-size: 16px;
    color: #F559A0;
    margin-right: 10px;
    position: relative;
  }

  @media all and (max-width: 520px) {
    .product_modal .product_modal__content .product_modal__right .product_options .discount_price, .product_modal .callback_modal_content .product_modal__right .product_options .discount_price, .callback_modal .product_modal__content .product_modal__right .product_options .discount_price, .callback_modal .callback_modal_content .product_modal__right .product_options .discount_price {
      margin-right: 0;
    }
  }

  .product_modal .product_modal__content .product_modal__right .product_options .discount_price:after, .product_modal .callback_modal_content .product_modal__right .product_options .discount_price:after, .callback_modal .product_modal__content .product_modal__right .product_options .discount_price:after, .callback_modal .callback_modal_content .product_modal__right .product_options .discount_price:after {
    content: "";
    display: block;
    position: absolute;
    width: 42px;
    height: 25px;
    background-image: url(/assets/images/ui/cross_out.svg);
    top: 50%;
    left: 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }

  .product_modal .product_modal__content .product_modal__right .product_options .price_old, .product_modal .callback_modal_content .product_modal__right .product_options .price_old, .callback_modal .product_modal__content .product_modal__right .product_options .price_old, .callback_modal .callback_modal_content .product_modal__right .product_options .price_old {
    font-size: 16px;
    color: #F559A0;
    position: relative;
    margin-right: 10px;
  }

  .product_modal .product_modal__content .product_modal__right .product_options .price_old:after, .product_modal .callback_modal_content .product_modal__right .product_options .price_old:after, .callback_modal .product_modal__content .product_modal__right .product_options .price_old:after, .callback_modal .callback_modal_content .product_modal__right .product_options .price_old:after {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 17px;
    background-image: url(/assets/images/ui/cross-sale.svg);
    top: 50%;
    left: 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .product_modal .product_modal__content .product_modal__right .product_options .price_old.us_price:after, .product_modal .callback_modal_content .product_modal__right .product_options .price_old.us_price:after, .callback_modal .product_modal__content .product_modal__right .product_options .price_old.us_price:after, .callback_modal .callback_modal_content .product_modal__right .product_options .price_old.us_price:after {
    width: 45px;
    top: 35%;
  }

  .callback_modal {
    color: #111111;
    max-width: 500px;
  }

  .callback_modal .callback_modal_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .callback_modal .callback_modal_content .modal-header {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    line-height: 1;
  }

  .callback_modal .callback_modal_content .modal-header .modal-title {
    position: relative;
    display: block;
    width: 100%;
    font-size: 30px;
    font-family: "Gotham Pro Bold", "Roboto Bold", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
  }

  .callback_modal .callback_modal_content .input_block {
    position: relative;
    display: block;
    width: 100%;
  }

  .callback_modal .callback_modal_content input {
    outline: none;
    font-family: Gotham Pro Medium;
    display: block;
    position: relative;
    width: 100%;
    height: 42px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    padding: 0 35px 0 15px;
    font-size: 14px;
    font-weight: normal;
    color: #111111;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 50%;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .callback_modal .callback_modal_content input::-webkit-input-placeholder {
    font-family: Gotham Pro;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #999;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .callback_modal .callback_modal_content input:-ms-input-placeholder {
    font-family: Gotham Pro;
    font-size: 14px;
    font-weight: normal;
    color: #999;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .callback_modal .callback_modal_content input::-ms-input-placeholder {
    font-family: Gotham Pro;
    font-size: 14px;
    font-weight: normal;
    color: #999;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .callback_modal .callback_modal_content input::placeholder {
    font-family: Gotham Pro;
    font-size: 14px;
    font-weight: normal;
    color: #999;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .callback_modal .callback_modal_content input:not(:placeholder-shown):valid {
    background-image: url(/assets/images/ui/form_valid.svg);
  }

  .callback_modal .callback_modal_content input:not(:placeholder-shown):invalid {
    border: 1px solid #EB5757;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: url(/assets/images/ui/form_invalid.svg);
  }

  .callback_modal .callback_modal_content input:not(:placeholder-shown) + label {
    font-size: 12px;
    top: -8px;
    left: 10px;
  }

  .callback_modal .callback_modal_content input:focus + label {
    font-size: 12px;
    top: -8px;
    left: 10px;
  }

  .callback_modal .callback_modal_content input + label {
    font-family: "Gotham Pro", "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #999999;
    position: absolute;
    display: block;
    top: 12px;
    left: 10px;
    background: white;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  .callback_modal .callback_modal_content .modal-footer {
    position: relative;
    display: block;
    width: 100%;
  }

  .callback_modal .callback_modal_content .modal-footer p {
    margin: 0;
    font-weight: normal;
    line-height: 1.25;
    margin-top: 20px;
    font-size: 14px;
  }

  .callback_modal .callback_modal_content .modal-footer p a {
    text-decoration: underline;
    color: #3998CE;
  }

  .callback_modal .callback_modal_content .modal-footer p a:hover {
    text-decoration: none;
  }

  .burger {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
  }

  .burger span {
    position: relative;
    margin-top: 9px;
    margin-bottom: 9px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
  }

  .burger span, .burger span::before, .burger span::after {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #2a2a2a;
    outline: 1px solid transparent;
    border-radius: 2px;
    -webkit-transition-property: background-color, -webkit-transform;
    transition-property: background-color, -webkit-transform;
    transition-property: background-color, transform;
    transition-property: background-color, transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  .burger span::before, .burger span::after {
    position: absolute;
    content: "";
  }

  .burger span::before {
    top: -9px;
  }

  .burger span::after {
    top: 9px;
  }

  .burger.clicked {
    background: #3998CE;
  }

  .burger.clicked span {
    background-color: transparent;
  }

  .burger.clicked span::before {
    -webkit-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
  }

  .burger.clicked span::after {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
  }

  .burger.clicked span:before, .burger.clicked span:after {
    background-color: #FFFFFF;
  }

  .burger:hover {
    cursor: pointer;
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(175deg, rgba(245, 89, 160, .85) 0%, rgba(57, 152, 206, .85) 100%);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
  }

  .overlay.show {
    visibility: visible;
    opacity: 1;
  }

  body.header-margin {
    margin-top: 81px;
  }

  #page {
    margin: 80px auto 60px;
  }

  @media (max-width: 999px) {
    body.header-margin {
      margin-top: 57px;
    }

    #page {
      margin: 60px auto 40px;
    }
  }

  @media (max-width: 768px) and (min-width: 0px) {
    .single-product #page {
      margin: 70px auto 70px;
    }
  }

  body.header-margin2 {
    margin-top: 80px;
  }

  @media (max-width: 999px) {
    body.header-margin2 {
      margin-top: 57px;
    }
  }

  .mobile-header-logo img {
    vertical-align: middle;
  }

  *, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
  }

  *:focus, *::before:focus, *::after:focus {
    outline: none;
  }

  .btn {
    font-family: Gotham Pro Bold, Roboto Bold, sans-serif;
    background-color: #3BADDF;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: white;
    height: 48px;
    text-decoration: none;
    text-align: center;
    padding: 15px 20px;
    border-radius: 23px;
    vertical-align: middle;
    -webkit-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    min-width: 150px;
  }

  .btn:hover {
    background-color: #2FC6ED;
  }

  button {
    outline: none;
    cursor: pointer;
    border: none;
  }

  .modal-caption {
    font-size: 14px;
    font-weight: normal;
  }

  .modal-form {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.25;
  }

  .error input {
    border: 1px solid #EB5757 !important;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: url(/assets/images/ui/form_invalid.svg);
  }

  .nav-drawer .products-section .nav-product-card .card-top .cube-01 {
    background-image: url(/assets/images/header/multicube-idle.png);
  }

  .nav-drawer .products-section .nav-product-card .card-top .cube-02 {
    background-image: url(/assets/images/header/cube-04-idle.png);
  }

  .nav-drawer .products-section .nav-product-card .card-top .cube-03 {
    background-image: url(/assets/images/header/cube-05-idle.png);
  }

  .nav-drawer .products-section .nav-product-card:hover .cube-01 {
    background-image: url(/assets/images/header/multicube-hover.jpg);
  }

  .nav-drawer .products-section .nav-product-card:hover .cube-02 {
    background-image: url(/assets/images/header/cube-04-hover.jpg);
  }

  .nav-drawer .products-section .nav-product-card:hover .cube-03 {
    background-image: url(/assets/images/header/cube-05-hover.jpg);
  }

  .modal-caption {
    font-size: 14px;
    font-weight: normal;
  }

  button {
    outline: none;
    cursor: pointer;
    border: none;
  }

  /********* FOOTER  **********/
  footer {
    background-color: #FAFAFA;
  }

  .footer_content_block {

  }

  .footer_content {
    position: relative;
    display: block;
    width: 100%;
    padding: 80px 0;
  }

  .footer_content:after {
    content: " ";
    display: block;
    clear: both;
  }

  @media all and (max-width: 991px) {
    .footer_content {
      padding: 40px 0;
    }
  }

  .footer_content .footer_content_block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    padding: 15px;
    min-height: 190px;
    margin-bottom: 2.12766%;
  }

  .footer_content .footer_content_block:nth-child(3n) {
    width: 31.91489%;
    float: right;
    margin-right: 0;
  }

  @media all and (max-width: 767px) {
    .footer_content .footer_content_block:nth-child(n) {
      width: 48.93617%;
      float: left;
      margin-right: 2.12766%;
    }

    .footer_content .footer_content_block:nth-child(2n) {
      width: 48.93617%;
      float: right;
      margin-right: 0;
    }
  }

  @media all and (max-width: 530px) {
    .footer_content .footer_content_block:nth-child(n) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      min-height: 150px;
    }
  }

  .footer_new {
    letter-spacing: 0 !important;
  }

  .footer_payment .card-logos {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 18px;
  }

  .footer_new .footer_address {
    font-family: "Gotham Pro", "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #111111;
  }

  .footer_payment .card-logos img {
    position: relative;
    display: block;
    margin-right: 10px;
  }

  .footer-nav {
    font-family: "Gotham Pro", "Roboto", sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 17px;
    list-style-type: none;
    color: #111111;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
  }

  .footer_subscription-caption {
    font-family: "Gotham Pro", "Roboto", sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 15px;
    color: #111111;
    padding-bottom: 10px;
  }

  .footer_personal_agreement {
    font-family: "Gotham Pro", "Roboto", sans-serif;
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    color: #111111;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer-nav a,
  .footer-nav a:visited {
    text-decoration: none;
    color: #111111;
  }

  .footer-nav li {
    padding-bottom: 10px;
  }

  .footer-nav a:hover,
  .footer-nav a:focus,
  .footer-nav a:active {
    text-decoration: none;
    color: #3998CE;
  }

  .footer_social-icons .icon {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  @media all and (max-width: 360px) {
    .footer_social-icons .icon img {
      width: 50px;
    }
  }

  .footer_social-icons .icon .caption {
    margin-left: 5px;
    font-family: "Gotham Pro Medium", "Roboto Medium", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: normal;
    font-size: 13px;
    max-width: 80px;
    color: #000000;
    letter-spacing: 0px;
    line-height: 13px;
  }

  .footer_social-icons .icon .caption a,
  .footer_social-icons .icon .caption a:visited {
    text-decoration: none;
    color: #111111;
  }

  .footer_social-icons .icon .caption a:focus,
  .footer_social-icons .icon .caption a:active,
  .footer_social-icons .icon .caption a:hover {
    text-decoration: underline;
    color: #111111;
  }

  .footer_subscription .input_block {
    position: relative;
    display: block;
    width: 100%;
  }

  .footer_subscription input {
    background-color: #FFFFFF;
    outline: none;
    font-family: Gotham Pro Medium;
    display: block;
    position: relative;
    width: 100%;
    height: 42px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    padding: 0 115px 0 15px;
    font-size: 14px;
    font-weight: normal;
    color: #111111;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 50%;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .footer_subscription input::-webkit-input-placeholder {
    font-family: Gotham Pro;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #999;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .footer_subscription input:-ms-input-placeholder {
    font-family: Gotham Pro;
    font-size: 14px;
    font-weight: normal;
    color: #999;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .footer_subscription input::-ms-input-placeholder {
    font-family: Gotham Pro;
    font-size: 14px;
    font-weight: normal;
    color: #999;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .footer_subscription input::placeholder {
    font-family: Gotham Pro;
    font-size: 14px;
    font-weight: normal;
    color: #999;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .footer_subscription .footer_subscription-btn {
    font-family: Gotham Pro;
    font-size: 14px;
    border-radius: 10px;
    line-height: 18px;
    position: absolute;
    right: 4px;
    top: 6px;
    font-weight: 600;
    color: #3BADDF;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    background: transparent;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 6px;
    padding-top: 6px;
  }

  .footer_subscription .footer_subscription-btn:hover {
    background-color: #3BADDF;
    color: #FFF;
    border-radius: 10px;
  }

  .footer_personal_agreement a,
  .footer_personal_agreement a:visited,
  .footer_address a,
  .footer_address a:visited {
    text-decoration: underline;
    color: #3998CE;

  }

  .footer_personal_agreement a:hover,
  .footer_personal_agreement a:focus,
  .footer_personal_agreement a:active,
  .footer_address a:hover,
  .footer_address a:focus,
  .footer_address a:active {
    text-decoration: none;
    color: #3998CE;
  }

  footer .social-logos {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 17px;
  }

  footer .social-logos a:hover {
    opacity: 1;
  }

  footer .social-logos img {
    position: relative;
    display: block;
    margin-right: 10px;
    height: 34px;
    width: 34px;
  }

  @media (max-width: 530px) {
    .footer_new .desktop-footer {
      display: none;
    }

    .footer_social-icons .icon {
      float: left;

    }

    .footer_social-icons .mar20 {
      margin-left: 10px;
    }

    .footer-phone {
      white-space: nowrap;
    }

    .footer_content_block {
      max-width: 340px;
    }

    .footer_social-icons .icon {
      margin-bottom: 0px;
    }

    .desktop-footer-item {
      display: none;
    }
  }

  @media (max-width: 767px) {
    .footer_address {
      padding-top: 10px;
    }

    .fp-mar30 {
      margin-top: 30px;
    }
  }

  @media (min-width: 531px) {
    .footer_new .mobile-footer-item {
      display: none;
    }
  }

  .home-pad5 {
    padding-top: 10px;

  }

  @media (min-width: 768px) {
    .footer_address {
      padding-top: 15px;
    }

    .fp-mar30 {
      display: none;
    }

    .home-pad5 {
      padding-top: 15px;
    }
  }

  .footer_dopinfo {
    font-size: 12px;
    padding-top: 0px;
  }

  footer .error input {
    border: 1px solid #EB5757 !important;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
  }

  footer .is-valid input {
    background-image: url(/assets/images/ui/form_valid.svg);
    padding-right: 38px;
  }

  .nav-drawer .products-section .nav-product-card-half {
    width: calc(100% / 10 - 10px);
  }

  /* new menu/*/

  .collapsible .mobile-navigation-list-title .coll-ico {
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    width: 12px;
    top: 24px;
    right: 15px;
    background-image: url(/assets/images/header/nav-plus.svg);
    background-repeat: no-repeat;
    -webkit-transition: background .3s ease, -webkit-transform .3s ease;
    transition: background .3s ease, -webkit-transform .3s ease;
    transition: background .3s ease, transform .3s ease;
    transition: background .3s ease, transform .3s ease, -webkit-transform .3s ease;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    z-index: 2;
  }

  .collapsible.active .mobile-navigation-list-title .coll-ico {
    background-image: url(/assets/images/header/nav-minus.svg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  #ivi2, #ivi3, #ivi4 {
    display: none;
  }

  /* new banner*/
  .section-ivi-cinema img {
    border-radius: 20px;
  }

  .cwe-278 button.ivi-cinema {
    font-family: 'Gotham Pro', sans-serif;
    color: #FFFFFF;
    font-size: 17px;
    letter-spacing: 0px;
    font-weight: 600;
    background-color: #fe0049;
    border: none !important;
  }

  .cwe-278 button.ivi-cinema:hover,
  .cwe-278 button.ivi-cinema:active,
  .cwe-278 button.ivi-cinema:focus {
    /*color: #fe0049;

    background-color: #fff;*/
    color: #ffffff;
    background-color: rgba(236, 23, 79, .8);
    border: none !important;
  }

  @media (min-width: 0px) and (max-width: 319px) {
    .cwe-278 button.ivi-cinema {
      display: none;
    }
  }

  @media (max-width: 414px) and (min-width: 320px) {
    .cwe-278 button.ivi-cinema {
      width: 170px;
      height: 42px;
      border-radius: 21px;
      position: absolute;
      left: 50%;
      bottom: 50%;
      margin-left: -85px;
      margin-bottom: 5px;
    }
  }

  @media (min-width: 415px) and (max-width: 767px) {
    .cwe-278 button.magicsale2 {
      margin-left: -100px;
      width: 200px;
      border-radius: 20px;
      height: 50px;
    }

    .cwe-278 button.ivi-cinema {
      width: 200px;
      border-radius: 20px;
      height: 50px;
      position: absolute;
      left: 50%;
      bottom: 270px;
      margin-left: -100px;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .cwe-278 button.ivi-cinema {
      font-size: 21px;
      letter-spacing: 0px;
      width: 260px;
      height: 55px;
      border-radius: 23px;
      position: absolute;
      right: 81px;
      bottom: 45px;
      margin-left: 145px;
    }
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    .cwe-278 button.ivi-cinema {
      font-size: 19px;
      letter-spacing: 0px;
      width: 245px;
      height: 55px;
      border-radius: 23px;
      position: absolute;
      right: 97px;
      bottom: 95px;
      margin-left: 199px;
    }
  }

  @media (min-width: 1280px) and (max-width: 1439px) {
    .cwe-278 button.ivi-cinema {
      font-size: 19px;
      letter-spacing: 0px;
      width: 245px;
      height: 55px;
      border-radius: 23px;
      position: absolute;
      right: 97px;
      bottom: 95px;
      margin-left: 199px;
    }

  }

  @media (min-width: 1440px) {
    .cwe-278 button.ivi-cinema {
      font-size: 23px;
      letter-spacing: 0px;
      width: 280px;
      height: 64px;
      border-radius: 32px;
      position: absolute;
      right: 170px;
      bottom: 120px;
      margin-left: 266px;
    }
  }

  .control-app {
    margin-bottom: 10px;
  }

  .ivi-page .top-selector .couple {
    width: 80%;
  }

  @media all and (max-width: 999px) {
    .ivi-page .top-selector .couple {
      width: 100%;
    }

  }

  .ivi-page .ivi-13 .inside-ivi-block .inside-ivi-item .inside-ivi-icon img {
    height: 50px;
    width: max-content;
  }

  .ivi-page .ivi-13 .inside-ivi-block .inside-ivi-item .inside-ivi-icon {
    text-align: center;
    max-width: 186px;
  }

  .ivi-page .ivi-13 .inside-ivi-block .inside-ivi-text {
    text-align: center;

  }

  @media (max-width: 991px) {
    .ivi-page .ivi-13 .inside-ivi-block .inside-ivi-item .inside-ivi-icon img {
      height: 45px;
    }

    .ivi-page .ivi-13 .inside-ivi-block .inside-ivi-item .inside-ivi-icon {
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 499px) {
    .ivi-page .ivi-13 .inside-ivi-block .inside-ivi-item .inside-ivi-text {
      font-size: 12px;
    }

    .ivi-page .ivi-13 .inside-ivi-block .inside-ivi-item .inside-ivi-icon img {
      height: 35px;
    }
  }

  .ivi-page .ivi-15 .ivi-order-cards-block .ivi-order-cards-wrap .ivi-order-card .ivi-order-card-top .btn {
    max-width: 200px;
    margin: 0 auto;
  }

  /* ivi */
  .ivi-page .ivi-02 .section-image .video-block {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url("/assets/images/ivi/play-button.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    top: 36vw;
  }

  @media all and (max-width: 900px) {
    .ivi-page .ivi-02 .section-image .video-block {
      top: 320px;
    }
  }

  .product_works_block {
    background: #e5e5e5;
  }

  .cwe-278 section.pre-footer .container .pre-footer-title {
    font-family: "Gotham Pro Bold", "Roboto Bold", sans-serif;
    font-size: 38px;
    line-height: 40px;
    letter-spacing: 0px;
  }

  @media (max-width: 479px) {
    .cwe-278 section.pre-footer .container .pre-footer-title {
      font-size: 26px;
      line-height: 32px;
      letter-spacing: 0px;
    }
  }

  @media all and (min-width: 1600px) {
    .top-mult .order-info {
      margin-top: -8vw;
    }
  }

  @media all and (min-width: 1920px) {
    .top-mult .order-info {
      margin-top: -6vw;
    }
  }

  @media all and (min-width: 2560px) {
    .top-mult .order-info {
      margin-top: -4vw;
    }
  }

  .footer_content_wide {
    width: 100%;
    float: left;
    font-size: 12px;
    padding-top: 20px;
    line-height: 16px;
  }

  .footer_content_copyright {
    width: 100%;
    float: left;
    font-size: 14px;
    text-align: center;
    padding-top: 0px;
  }

  .footer_social-icons .reddot img {
    height: 86px;
    width: auto;
  }

  .nav-drawer .products-section .nav-product-card .card-top .card-image {
    background-position: 50% 0;
    background-repeat: no-repeat;
    -webkit-transition: none;
    transition: none;
  }

  .nav-drawer .products-section .nav-product-card .card-top .card-image.cube-01 {
    background-image: url(/assets/images/header/white-us.jpg);
  }

  .nav-drawer .products-section .nav-product-card .card-top .card-image.cube-02 {
    background-image: url(/assets/images/header/black-us.jpg);
  }

  .nav-drawer .products-section .nav-product-card .card-top .card-image.cube-03 {
    background-image: url(/assets/images/header/4.jpg);
  }

  .nav-drawer .products-section .nav-product-card .card-top .card-image.cube-04 {
    background-image: url(/assets/images/header/5.jpg);
  }

  .nav-drawer .products-section .nav-product-card:hover .card-image {
    background-position: 50% -290px;
  }

  .nav-drawer .products-section {
    height: 265px;
  }

  .cook-top {
    font-family: 'Gotham Pro', sans-serif;
    color: #000;
    font-weight: normal;
    text-align: center;
    width: 100%;
    font-size: 15px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .cook-top a,
  .cook-top a:visited {
    color: #3998ce;
    text-decoration: none;
  }

  .cook-top a:hover,
  .cook-top a:active,
  .cook-top a:focus {
    color: #2a7aa7;
    text-decoration: underline;
  }

  .cook-bot {
    font-family: 'Gotham Pro', sans-serif;
    color: #aba8a8;
    font-weight: normal;
    text-align: left;
    font-size: 14px !important;
    line-height: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 25px !important;
  }

  #cn-accept-cookie,
  #cn-more-info {
    display: none;
    /*margin-top: -15px;*/
    margin-bottom: 10px;
  }

  a.cn-new-button {
    margin-left: 0px;
    margin-bottom: 0;

    text-align: center;
    vertical-align: middle;
    color: #fff !important;
    background-color: #3998ce;
    padding: 6px 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

  }

  a.cn-new-button:hover {
    color: #fff !important;
    background-color: #2a7aa7 !important;
    text-decoration: none !important;
  }

  @media (min-width: 0px) and (max-width: 767px) {
    .cook-top {
      font-size: 13px !important;
      line-height: 17px;
    }

    .cook-bot {
      font-size: 13px !important;
      line-height: 20px;
    }

    a.cn-new-button {
      color: #fff !important;
      line-height: 30px;
    }

    .cookie-notice-container .container {
      padding-right: 0;
      padding-left: 0;
    }

  }
}
